.heroVideo {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.videoCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.shadow {
  position: absolute;
  z-index: 0;
  bottom: calc(-7px + var(--bottom-offset));
  left: 0;
  opacity: 0;
  animation: shadowFadeIn 1.5s ease-out 0.5s forwards;
}

@keyframes shadowFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hiddenVideoContainer {
  position: absolute;
  opacity: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  bottom: 30px;
  right: -37px;
  z-index: 2;

  & > button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fill-3);
    border: none;
    color: var(--color-text-primary);
    border-radius: 50px;
    cursor: default;
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

@container root (width < 768px) {
  .controls {
    flex-direction: row;
    bottom: -40px;
    right: 50%;
    transform: translateX(50%);
  }
}
