.stackedCardMedia {
  container-name: stackedCardMedia;
  container-type: size;

  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mediaObject {
  &.padded {
    padding: 30px;
  }
}

@container mediaCard (width >= 580px) {
  .mediaObject {
    &.padded {
      padding: 40px;
    }
  }
}

.mediaObject {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;

  &.croppedTop {
    object-position: top;
    padding-top: 0;
  }

  &.croppedBottom {
    object-position: bottom;
    padding-bottom: 0;
  }
}

@container stackedCardContent style(--media-position: leading) {
  .mediaObject {
    &.padded {
      padding-right: 0;
    }
  }
}

@container stackedCardContent style(--media-position: trailing) {
  .mediaObject {
    &.padded {
      padding-left: 0;
    }
  }
}

@container stackedCardContent style(--media-position: top) {
  .mediaObject {
    &.padded {
      padding-bottom: 0;
    }
  }
}

@container stackedCardContent style(--media-position: bottom) {
  .mediaObject {
    &.padded {
      padding-top: 0;
    }
  }
}
