.navbarContainer {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 28px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 140%;
    background-color: var(--color-fill-1);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 130%;
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: -1;
  }
}

.spacer {
  height: 104px;
  width: 100%;
}

.navbar {
  width: 100%;
  max-width: var(--base-width);
  height: 76px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  border-radius: 999px;
  backdrop-filter: blur(24px);
  background-color: color-mix(in srgb, var(--color-fill-0) 70%, transparent);
  border: 1px solid var(--color-fill-0);
  box-shadow: inset 0 0 25px var(--color-fill-0),
    0 20px 30px color(display-p3 0 0 0 / 0.02);
}

.appIdentity {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.appIconContainer {
  width: 40px;
  height: 40px;
}

.appName {
  font-size: 17px;
  font-weight: bold;
  margin-left: 11px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 28px;

  a {
    transition: opacity 0.05s;
  }

  a:hover {
    opacity: 0.5;
  }
}

@container root (width < 768px) {
  .navbarContainer {
    padding-top: 12px;
  }

  .navbar {
    padding: 0 12px;
  }

  .navLinks {
    display: none;
  }
}

@container root style(--color-scheme: dark) {
  .content {
    background-color: color-mix(in srgb, var(--color-fill-2) 70%, transparent);
    border: 1px solid var(--color-fill-3);
    box-shadow: inset 0 0 25px var(--color-fill-2);
  }
}
