.compactFooter {
  width: 100%;
  max-width: var(--base-width);
  padding: 0 20px;
  margin-bottom: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 32px 32px 32px 32px;
  background-color: var(--color-fill-2);
  border-radius: 32px;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  font-size: 14px;
}

.link {
  text-decoration: none;
  opacity: 1.0;
  transition: opacity 0.05s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}


.footnotes {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  color: var(--color-text-secondary);
  font-size: 14px;

  a {
    text-decoration: underline;
    transition: color 0.05s ease-in-out;

    &:hover {
      color: var(--color-text-primary);
    }
  }
}

@container root (width < 768px) {
  .main {
    flex-direction: column;
    padding: 32px 32px 40px 32px;
    gap: 48px;
  }

  .links {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .footnotes {
    flex-direction: column;
    gap: 12px;
    padding: 0 0;
    text-align: center;
  }
}
