.laurelsBadge {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.laurelsWrap {
  display: flex;
  align-items: center;
}

.badgeValue {
  margin: 0 6px 2px 6px;
}

.laurelLeading, .laurelTrailing {
  flex-basis: 18px;
  flex-shrink: 0;
}

.laurelTrailing {
  transform: scaleX(-1);
}

.header {
  position: absolute;
  top: -15px;
  font-size: 12px;
  line-height: 1;
}

.caption {
  position: absolute;
  bottom: -14px;
  font-size: 9px;
  font-weight: 500;
  min-height: 9px;
  opacity: 0.7;
}
