.gridCardItem {
	container: mediaCard / inline-size;

	--min-width: calc((100% - var(--card-gap) * 2) / 3);
	--color-base-background: var(--color-fill-0);

	position: relative;
	height: var(--card-height);
	box-sizing: border-box;
	color: var(--color-text-primary);
	background-color: color-mix(in srgb, var(--color-base-background) 50%, transparent);
	border-radius: 35px;
	backdrop-filter: blur(10px);
	border: 1px solid var(--color-fill-0);
	box-shadow: inset 0 0 25px var(--color-fill-0);
	overflow: hidden;

	&.third {
		width: var(--min-width);
	}

	&.half {
		width: calc((100% - var(--card-gap)) / 2);
	}

	&.twoThirds {
		width: calc(100% - var(--card-gap) - var(--min-width));
	}

	&.full {
		width: 100%;
	}
}

@supports (corner-shape: squircle) {
	.gridCardItem {
		border-radius: 60px;
		corner-shape: squircle;
	}
}

@container cardGrid style(--layout: column) {
	.gridCardItem {
		&.third,
		&.half,
		&.twoThirds,
		&.full {
			width: 100%;
		}
	}
}

@container root style(--color-scheme: dark) {
	.gridCardItem {
		--color-base-background: var(--color-fill-2);

		background-color: color-mix(in srgb, var(--color-base-background) 70%, transparent);
		border: 1px solid var(--color-fill-3);
    box-shadow: inset 0 0 25px var(--color-fill-2);
	}
}
