[build]
  command = "npm run build"
  publish = "dist"

# send all routes to index.html (BrowserRouter) except /app
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
  conditions = {path = ["!/app/*"]}
