.section {
  width: 100%;
  max-width: var(--base-width);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /*
    This makes sure the section is not hidden by the navbar
    when page is scrolled automatically after clicking on a navigation link
    with a section anchor
  */
  scroll-margin-top: 100px;
}

/* .section:has(+ .section) {
  padding-bottom: 40px;
} */

.section + .section {
  margin-top: 80px;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: bold;
  width: 100%;
  margin-bottom: 32px;
  padding: 0 30px;
}
