.iconCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 0;
  text-align: start;
  padding: 30px;
  height: 100%;
}

.icon {
  height: 32px;
  flex-shrink: 0;
  color: var(--color-accent-brand);
}

.info {
  min-height: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
	font-size: 17px;
	line-height: 1.1;
	font-weight: 700;

	&.whimsical {
		font-size: 32px;
	}

	&.cursive {
		font-size: 30px;
	}
}

.description {
  font-size: 17px;
  line-height: 1.1;
  font-weight: 400;
  color: var(--color-text-secondary);
}

@container mediaCard (width >= 580px) {
  .iconCard {
    position: relative;
    top: -16px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-align: center;
  }

  .icon {}

  .info {
    min-height: auto;
    max-width: 370px;
  }

  .title {
    font-size: 24px;
  }
}
